In [1]:
import os

In [2]:
os.getcwd()

'/workspaces/DE_Zoomcamp_2024/1_Docker_SQL'

In [3]:
import pandas as pd

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [13]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
print(pd.io.sql.get_schema(df,"yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [17]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz',iterator=True,chunksize=100000)

In [18]:
df = next(df_iter)

In [20]:
len(df)

100000

In [23]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [29]:
df.head(n=0).to_sql(name = 'yellow_taxi_data',con=engine,if_exists = 'replace')

0

In [30]:
df.to_sql(name = 'yellow_taxi_data',con=engine,if_exists = 'append')

1000

In [31]:
while True:
    df = next(df_iter)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.to_sql(name = 'yellow_taxi_data',con=engine,if_exists = 'append')
    print('Inserted Chunk')

Inserted Chunk
Inserted Chunk
Inserted Chunk
Inserted Chunk
Inserted Chunk
Inserted Chunk
Inserted Chunk
Inserted Chunk
Inserted Chunk
Inserted Chunk
Inserted Chunk

/tmp/ipykernel_137002/1179746764.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted Chunk
Inserted Chunk

StopIteration:

In [32]:
engine

Engine(postgresql://root:***@localhost:5432/ny_taxi)